planning_plugins:
  - ompl_interface/OMPLPlanner
request_adapters:
  - default_planning_request_adapters/ResolveConstraintFrames
  - default_planning_request_adapters/ValidateWorkspaceBounds
  - default_planning_request_adapters/CheckStartStateBounds
  - default_planning_request_adapters/CheckStartStateCollision
response_adapters:
  - default_planning_response_adapters/AddTimeOptimalParameterization
  - default_planning_response_adapters/ValidateSolution
  - default_planning_response_adapters/DisplayMotionPath

planner_configs:
  RRTConnect:
    type: geometric::RRTConnect
    range: 0.0  # Max motion length
  RRTstar:
    type: geometric::RRTstar
  PRM:
    type: geometric::PRM

manipulator:
  planner_configs:
    - RRTConnect
    - RRTstar
    - PRM
  projection_evaluator: joints(joint_1,joint_2)
  longest_valid_segment_fraction: 0.005
